.product_content_wrapper {
    max-width: 1280px;
    width: 97%;
    margin: 0 auto;
    position: relative;
    padding: 0 1px;
    overflow: auto;
    margin-top: 36px;
    padding-top: 1px;
}
ul.product_specs b {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 10px;
    color: #8b8b8b;
}

.ring_setting_product_info span.favorite_wrapper img{
    width:16px;
}

ul.product_specs li {
    font-weight: 600;
    font-size: 16px;
    font-weight: 500;
}

.product_content_wrapper a.add_ring {
    height: 39px;
    width: 46%;
    display: inline-block;
    font-family: Gotham;
    font-size: 16px;
    background-color: #548860;
    font-weight: 500;
    text-decoration: none;
    line-height: 31px;
    text-align: center;
    float: left;
    font-family: Gotham;
    border: 1px solid rgba(0, 0, 0, 0.04);
    padding-top: 4px;
    text-transform: uppercase;
    cursor: pointer;
    color: #FFFFFF;
    border-radius: 2px;
    letter-spacing: 0;
    border-bottom-color: rgba(0, 0, 0, 0.12);
    -webkit-transition: background 350ms cubic-bezier(0.72, 0.01, 0.56, 1),border-color 350ms cubic-bezier(0.72, 0.01, 0.56, 1),box-shadow 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -moz-transition: background 350ms cubic-bezier(0.72, 0.01, 0.56, 1),border-color 350ms cubic-bezier(0.72, 0.01, 0.56, 1),box-shadow 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -ms-transition: background 350ms cubic-bezier(0.72, 0.01, 0.56, 1),border-color 350ms cubic-bezier(0.72, 0.01, 0.56, 1),box-shadow 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -o-transition: background 350ms cubic-bezier(0.72, 0.01, 0.56, 1),border-color 350ms cubic-bezier(0.72, 0.01, 0.56, 1),box-shadow 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    transition: background 350ms cubic-bezier(0.72, 0.01, 0.56, 1),border-color 350ms cubic-bezier(0.72, 0.01, 0.56, 1),box-shadow 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    margin-bottom: 20px;
    text-rendering: optimizelegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.ring_setting_option_image {
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    background-position: center bottom;
    height: 100px;
}

.option_box.ring_setting_option {
    display: inline-block;
    text-align: center;
    padding: 10px;
    margin-right: 5px;
    cursor: pointer;
    width: 31%;
    float: left;
    margin-bottom: 10px;
    border: 2px solid transparent;
    padding-bottom: 5px;
}

.option_box.ring_setting_option input {
    visibility: hidden;
    height: 0;
    position: absolute;
}

.option_box.ring_setting_option.option_box_selected {
    border-color: #110c0e;
}

a.btn_gray p {
    padding: 5px 0px 5px;
    border: 1px solid green;
    text-align: center;
    background-color: lightgrey;
    color: black;
    max-width: 330px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: gotham;
    text-rendering: optimizelegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

a.btn_gray {
    text-decoration: none;
}

a.add_ring:hover {
    background: #5C9569;
    border-top-color: rgba(132, 132, 132, 0.08);
    border-bottom-color: rgba(0, 0, 0, 0.22);
    box-shadow: 0 1px 1px 0px #e5e5e5;
}

a.add_ring:active {
    border-top-color: rgba(103, 103, 103, 0.08);
    border-bottom-color: rgba(173, 173, 173, 0.22);
    box-shadow: 0 2px 0px 0px rgba(0, 0, 0, 0.12) inset;
    background: #446E4E;
}
.product_page_row .width_45 {
    padding-left: 70px;
    height: auto;
}

.product_detail_tab:hover {
    color: #484848;
}

a.show_certificate_modal {
    margin-top: 8px;
    display: inline-block;
}

.product_page_row .height_55 {
    height: auto;
}


.product_page_row > div {
    height: auto;
}

div#modal_overlay_pdf {
    background: rgba(17, 12, 14, 0.88);
}

.product_content_wrapper a.purchase_btn:hover {
    \: 1px solid rgba(0, 0, 0, 0.09);
    background-color: #8BE19F;
    border-top-color: rgba(132, 132, 132, 0.08);
    border-bottom-color: rgba(0, 0, 0, 0.22);
    box-shadow: 0 1px 1px 0px #e5e5e5;
}

#ring-choices > a.btn_gray:hover {
    background: #5C9569!important;
    border-top-color: rgba(132, 132, 132, 0.08);
    border-bottom-color: rgba(0, 0, 0, 0.22);
    box-shadow: 0 1px 1px 0px #e5e5e5;
}

p.ring_creation_hint {
    font-family: Gotham;
    font-weight: 500;
    letter-spacing: .15px;
    padding-left: 5px;
    color: #484848;
    text-transform: uppercase;
    font-size: 12px;
    text-align: left;
    text-rendering: optimizelegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

#ring-choices > a.btn_gray:before {
    content: '';
    top: 0;
    bottom: 0;
    position: absolute;
    width: 7px;
    background: #f3f3f3;
    left: -8px;
    display: block;
}

#ring-choices > a.btn_gray:after {
    content: '';
    top: 0;
    bottom: 0;
    position: absolute;
    width: 7px;
    background: #f3f3f3;
    right: -8px;
    display: block;
}

button#confirm-ring {
    height: 39px;
    max-width: 325px;
    display: block;
    font-family: Gotham;
    font-size: 16px;
    background-color: #83D496;
    font-weight: 500;
    vertical-align: top;
    margin-right: auto;
    width: 100%;
    text-decoration: none;
    line-height: 31px;
    text-align: center;
    font-family: Gotham;
    border: 1px solid rgba(0, 0, 0, 0.04);
    padding-top: 4px;
    text-transform: uppercase;
    cursor: pointer;
    color: #FFFFFF;
    margin-left: auto;
    border-radius: 2px;
    margin-top: 11px;
    letter-spacing: 0;
    border-bottom-color: rgba(0, 0, 0, 0.12);
    -webkit-transition: all 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -moz-transition: all 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -ms-transition: all 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -o-transition: all 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    transition: all 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    margin-bottom: 20px;
    text-rendering: optimizelegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.option_box.ring_setting_option > p {
    text-transform: uppercase;
    color: #8b8b8b;
    font-weight: 100;
    padding-top: 8px;
}

.option_box.ring_setting_option {}

a.add_ring.add_ring_active:before {
    content: '';
    top: 0;
    bottom: 0;
    position: absolute;
    width: 7px;
    background: #f3f3f3;
    left: -8px;
    display: block;
}

.option_box.ring_setting_option.option_box_selected p {
    color: #110c0e;
    font-weight: 600;
}

div#ring-choices .product_customization_dropdown_wrapper {
    display: inline-block;
    float: none;
    text-align: left;
}


a.purchase_btn:active {
    background-color: rgba(77, 144, 122, 0.94);
    border-top-color: rgba(103, 103, 103, 0.08);
    border-bottom-color: rgba(173, 173, 173, 0.22);
    box-shadow: 0 2px 0px 0px rgba(0, 0, 0, 0.12) inset;
    color: rgba(255, 255, 255, 0.67);
}

h1.product_name {
    font-family: Mercury;
    border-bottom: 1px solid #dbdbdb;
    padding-top: 8px;
    letter-spacing: .6px;
    display: inline-block;
    font-weight: 100;
    line-height: 27px;
    padding-bottom: 2px;
    padding-right: 63px;
    word-wrap: normal;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

h1.product_price {
    font-family: Gotham;
    font-weight: 100;
    letter-spacing: .4px;
    color: #110c0e;
    font-size: 16px;
    padding-top: 11px;
}

#ring-choices > a.btn_gray {
    position: absolute;
    top: -14px;
    right: 115px;
    border-radius: 2px;
    padding: 0 9px;
    background-color: #548860;
    border: 1px solid rgba(0, 0, 0, 0.04);
    border-bottom-color: rgba(0, 0, 0, 0.12);
    -webkit-transition: background 350ms cubic-bezier(0.72, 0.01, 0.56, 1),border-color 350ms cubic-bezier(0.72, 0.01, 0.56, 1),box-shadow 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -moz-transition: background 350ms cubic-bezier(0.72, 0.01, 0.56, 1),border-color 350ms cubic-bezier(0.72, 0.01, 0.56, 1),box-shadow 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -ms-transition: background 350ms cubic-bezier(0.72, 0.01, 0.56, 1),border-color 350ms cubic-bezier(0.72, 0.01, 0.56, 1),box-shadow 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -o-transition: background 350ms cubic-bezier(0.72, 0.01, 0.56, 1),border-color 350ms cubic-bezier(0.72, 0.01, 0.56, 1),box-shadow 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    transition: background 350ms cubic-bezier(0.72, 0.01, 0.56, 1),border-color 350ms cubic-bezier(0.72, 0.01, 0.56, 1),box-shadow 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
}

#ring-choices > a.btn_gray p {
    background: transparent;
    color: #FFFFFF;
    border: 0;
    margin: 0;
    font-size: 12px;
    padding-top: 1px;
    text-transform: uppercase;
    padding-bottom: 0px;
    font-weight: 400;
}

#ring-choices > a.btn_gray:hover {
    background: #9E66F3;
}

#ring-setting.custom_ring_settings_row {
    padding-left: 0px;
    margin-bottom: 16px;
    text-align: left;
}

h6.product_description {
    font-family: Mercury;
    font-size: 16px;
    max-width: 400px;
    letter-spacing: .33px;
    line-height: 26px;
    text-rendering: optimizelegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-weight: 100;
}

.product_customization_dropdown_wrapper {
    border: 1px solid #110c0e;
    background-color: #fafafa;
    width: auto;
    margin-bottom: 12px;
    cursor: pointer;
    height: 36px;
    display: inline-block;
    position: relative;
    float: left;
    vertical-align: top;
    margin-right: 12px;
    padding-right: 12px;
}

.product_customization_dropdown_wrapper label {
    display: inline-block;
    /* float: left; */
    text-transform: uppercase;
    font-weight: 500;
    font-size: 11px;
    letter-spacing: 1px;
    padding: 6px 8px 7px 10px;
    color: #484848;
}
div#large_product_image.large_product_image_full_width {
    width: 100%!important;
    background-size: contain!important;
    background-repeat: no-repeat;
    height: 470px;
}

a.add_ring.add_ring_active {
    background: -webkit-linear-gradient(to bottom,rgba(245, 245, 245, 0.65) 0,rgba(229, 229, 229, 0.47) 100%);
    box-shadow: 0 1px 0 0 rgba(195, 195, 195, 0.46),1px 0px 0 0 rgba(195, 195, 195, 0.3),-1px 0px 0 0 rgba(195, 195, 195, 0.3),0px -1px 0 0 rgba(220, 220, 220, 0.29);
    background: linear-gradient(to bottom,#FFFFFF 0,#fafafa 100%);
    color: #8b8b8b;
    padding: 0px 12px 0px!important;
    z-index: 100;
    cursor: pointer;
    width: 90px;
    position: relative;
    margin-top: 5px;
    border: 0;
    height: 27px;
    font-size: 12px!important;
    border-radius: 2px;
    float: right;
    -webkit-transition: all 0ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -moz-transition: all 0ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -ms-transition: all 0ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -o-transition: all 0ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    transition: all 0ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
}

div#ring-choices .agd_row > label {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 100;
    background: #f3f3f3;
    position: relative;
    letter-spacing: .65px;
    text-align: left;
    padding-left: 4px;
    padding-right: 6px;
    top: -12px;
    left: 0;
}

#ring-choices > a.btn_gray:hover {
    background: #9E66F3;
}

div#ring-choices {
    margin-top: 19px;
    position: relative;
    border-top: 1px solid #dbdbdb;
    margin-right: 0;
    text-align: center;
    margin-left: -45px;
}
span.selected_customization {
    margin-top: 7px;
    display: inline-block;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 15px;
    float: right;
    letter-spacing: .3px;
    padding-right: 14px;
}

.product_content_wrapper a.purchase_btn:active {
    background-color: #73BB84;
    border-top-color: rgba(103, 103, 103, 0.08);
    border-bottom-color: rgba(173, 173, 173, 0.22);
    box-shadow: 0 2px 0px 0px rgba(0, 0, 0, 0.12) inset;
}

.product_content_wrapper a.purchase_btn {
    height: 39px;
    width: 46%;
    display: inline-block;
    font-family: Gotham;
    font-size: 16px;
    background-color: #83D496;
    float: left;
    font-weight: 500;
    vertical-align: top;
    margin-right: 4%;
    text-decoration: none;
    line-height: 31px;
    text-align: center;
    font-family: Gotham;
    border: 1px solid rgba(0, 0, 0, 0.04);
    padding-top: 4px;
    text-transform: uppercase;
    cursor: pointer;
    color: #FFFFFF;
    border-radius: 2px;
    letter-spacing: 0;
    border-bottom-color: rgba(0, 0, 0, 0.12);
    -webkit-transition: all 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -moz-transition: all 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -ms-transition: all 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -o-transition: all 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    transition: all 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    margin-bottom: 20px;
    text-rendering: optimizelegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.customization_dropdown_box {
    display: none;
    padding: 8px 0 6px;
    position: absolute;
    left: -1px;
    z-index: 100;
    max-height: 240px;
    right: 20%;
    overflow: scroll;
    top: 112%;
    background-color: #fafafa;
    border: 1px solid #110c0e;
}
.active_dropdown_box.customization_dropdown_box{
    display:block;
}
.customization_dropdown_box:after, .customization_dropdown_box:before {
    bottom: 100%;
    left: 22%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.customization_dropdown_box:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 9px;
    margin-left: -9px;
}
.customization_dropdown_box:before {
    border-color: rgba(17, 12, 14, 0);
    border-bottom-color: #110c0e;
    border-width: 10px;
    margin-left: -10px;
}
.customization_dropdown_box li {
    padding: 5px 12px 5px;
    font-size: 12px;
    line-height: 17px;
    color: #8b8b8b;
    -webkit-transition: all 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -moz-transition: all 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -ms-transition: all 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -o-transition: all 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    transition: all 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
}

.customization_dropdown_box li.selected,.customization_dropdown_box li:hover {
    background-color: #eaeaea;
    color: #110c0e;
}
.product_detail_tab.width_33.product_detail_tab_active[data-product_tab="promise"] {
    padding-bottom: 5px;
}
.product_customization_dropdown_wrapper.product_customization_dropdown_wrapper_metal {
    width: 180px;
}

.product_customization_dropdown_wrapper.product_customization_dropdown_wrapper_size {
    width: 138px;
}

.small_product_images {
    width: 120px;
    /*height: 100%;*/
    margin-left: 0px;
    float: left;
    margin-top: 0;
}

.small_product_images .width_20 {
    height: 100px;
    width: 100%;
    margin-right: 0;
    margin-bottom: 4px;
}

.small_product_images .width_20 .small_product_image {
    width: 100%;
    cursor: pointer;
    height: 100%;
    background-size: cover;
    background-position: center center;
    border-top: 1px solid #F5F5F5;
    border-left: 1px solid #E0E0E0;
    border-right: 1px solid #E0E0E0;
    border-bottom: 1px solid #D2D2D2;
    float: left;
    background-color: #e5e5e5;
}

.small_product_images .width_20 .small_product_image img {
    display: none;
}

.small_product_image.active_product_image {
    border-color: rgb(121, 208, 180)!important;
}

.product_page_row {
    float: left;
    width: 100%;
    height: auto;
    margin-bottom: 32px;
}

.width_55 .large_product_image {
    float: right;
    background-position: center center;
    background-size: cover;
    width: 
    
    
    
    
    
    
    
    
    
    
    -webkit-calc(100% - 124px);
    width: 
    
    
    
    
    
    
    
    
    
    
    -moz-calc(100% - 124px);
    width: calc(100% - 124px);
    height: 410px;
    background-color: #ffffff;
}

.width_55 .large_product_image img {
    display: none;
}

.width_33 {
    width: 33%;
    float: left;
    display: inline-block;
}

.product_detail_tab {
    background: #e5e5e5;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    padding: 8px 0 5px;
    letter-spacing: 1px;
    color: #8e8e8e;
    cursor: pointer;
    font-weight: 500;
    top: 1px;
    position: relative;
    max-width: 225px;
    -webkit-transition: all 280ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -moz-transition: all 280ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -ms-transition: all 280ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -o-transition: all 280ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    transition: all 280ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    box-shadow: 0 -2px rgba(186, 187, 191, 0.12) inset;
}

.product_detail_tab.product_detail_tab_active {
    top: 1px;
    color: #110c0e!important;
    box-shadow: none;
    padding-bottom: 6px;
    cursor: default;
    background: #FFF!important;
    border-bottom-color: #FFFFFF!important;
}

.product_details_tabs {
    width: 100%;
    display: block;
    z-index: 1;
    position: relative;
}

.product_details_tab_contents_wrapper {
    background-color: #FFFFFF;
    overflow: auto;
    position: relative;
    top: -2px;
    padding: 25px 16px;
    margin-top: 40px;
}

.product_tab_content {
    text-align: left;
    display: none;
}

.product_tab_content h4 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 1px;
}

.product_tab_content h8 {
    display: block;
    font-size: 14px;
    letter-spacing: .4px;
    font-weight: 600;
    padding: 4px 0;
}

.product_tab_content h8 b {
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    color: #8b8b8b;
    letter-spacing: -.1px;
    padding-right: 5px;
}

p.mercury.contact_number {
    font-size: 13px;
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
    color: #110c0e;
    color: #999;
    letter-spacing: .5px;
    font-weight: 500;
}

.product_page_row.category_page_content_wrapper {
    position: relative;
    margin-top: 8px!important;
    display: none;
}

.recommended_products_slick_wrapper.slick-initialized.slick-slider {
    padding: 0 40px;
    padding-top: 6px;
}

h3.recommended_header {
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 4px;
}
.product_tab_content.active_product_tab_content {
    display: block;
}
h3.recommended_header a {
    font-size: 14px;
    float: right;
    font-weight:  500;
    color: #999;
    cursor: pointer;
    -webkit-transition: color 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -moz-transition: color 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -ms-transition: color 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -o-transition: color 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    transition: border-color 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    margin-right: 0px;
}

.category_view_product_cell.slick-slide {
    margin-right: 12px;
}

a.view_collection:hover {
    color: #110c0e;
}

.recommended_products_slick_wrapper button.slick-prev,.recommended_products_slick_wrapper button.slick-next {
    height: 190px!important;
}

.product_page_promise {
    width: 70%;
    display: inline-block;
    padding-top: 12px;
    float: left;
    padding-right: 24px;
    padding-bottom: 12px;
}

.product_page_promise_details {
    float: left;
    width: 30%;
    padding-left: 24px;
    display: inline-block;
    line-height: 26px;
    border-left: 1px solid #babbbf;
    padding-top: 7px;
    padding-bottom: 36px;
}

.product_page_promise h1 {
    line-height: 41px;
    font-size: 24px;
    font-weight: 100;
    letter-spacing: .4px;
    text-rendering: optimizelegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.product_page_promise .promise_statements.mercury {
    display: inline-block;
    width: 80%;
    padding-left: 14px;
    padding-top: 24px;
}

@media screen and (max-width:1080px){
    .product_page_row .width_45{
        padding-left:36px;
    }
    div#ring-choices{
        margin-left: -12px;
    }
    a.add_ring.add_ring_active{
    margin-top: -39px;
}
    #ring-choices > a.btn_gray{
    right: 0;
}
}

@media screen and (max-width:880px){
    .product_customization_dropdown_wrapper{
        float:none;
    }
    .product_content_wrapper a.purchase_btn{
        font-size: 14px;
        padding-top:5px;
    }
    .product_content_wrapper a.add_ring{
         font-size: 14px;
         padding-top:5px;
    }
}

@media screen and (max-width:790px){
    .width_55 .large_product_image{
        width:100%;
        float:none;
    }
    .small_product_images{
        width:100%!important;
        height:120px!important;
        margin-top:4px!important;
    }
    .small_product_images .width_20{
        width:30%!important;
        margin-right:4px!important;
    }
}

@media screen and (max-width:690px){
    .ring_setting_option_image{
        background-position:center center;
    }
    icon.big_green_quotation_marks{
        height: 43px;
        width: 36px;
    }
    .product_page_promise_details{
    width: 100%;
    border: 0;
    text-align: left;
    padding-left: 10px;
}
    .product_page_promise{
        width:100%;
        padding-right: 0;
    }
    .product_page_promise .promise_statements.mercury h1{
        font-size:19px!important;
        line-height: 30px;
    }
    .product_page_promise .promise_statements.mercury{
    padding-top: 12px;
}
    .product_detail_tab{
        font-size: 12px;
        width: auto!important;
        padding-left: 13px;
        padding-right: 13px;
    }
    .product_tab_content .width_33{
        width: 100%;
        margin-bottom: 15px;
        text-align: center;
    }
    .product_page_row .width_45{
        width: 97%;
        float: none;
        padding: 0;
        display: block;
        margin: 0 auto;
        margin-top: 28px;
    }
    .product_page_row .width_55{
        width: 97%;
        float: none;
        margin: 0 auto;
        display: block;
    }
}